/* google fonts poppins */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

*{
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior: smooth;
}
:root{
    --main-color:#7b5244;
    --sub-color:black;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* Start special category */
/* start dropdown */
.dropdown{
    display: flex;
    flex-wrap: nowrap;
    margin: 3em 11em;
    border:1px solid var(--main-color);
    position: absolute;
    padding: 0 .5em;
    background-color: #fff;
    /* opacity:0;
    visibility: hidden;
    transition:transform 2s  visibbility 1s ;
    -webkit-transition:transform 2s  visibbility 1s ;
    -moz-transition:transform 2s  visibbility 1s ;
    -ms-transition:transform 2s  visibbility 1s ;
    -o-transition:transform 2s  visibbility 1s ; */
}
.dropdown-table{
    line-height: 1.5;
   

}

.line{
    width:45%;
    height:.4px;
    display: block;
    border:1px dotted var(--main-color);
}

.table-link{
    color:var(--main-color);
    font-size:1.5em;
    margin: 0 .5em;

}
/* end dropdown */